body{
    margin: 0;
    padding: 0;
}
.title{
    height: 100px;
    width: 100%;
    background-color: #3AB8BB;
    line-height: 100px;
    color: white;
    font-size: 40px;
    text-align: center;
}
.enterAddress{
    width: 100%;
}
.everyLine{
    height: 150px;
    width: 100%;
    border-bottom: 1px solid darkgray;
    line-height: 150px;
    vertical-align: middle;
    font-size: 40px;
}
.everyLine input{
    margin-top: 38px;
}
.button{
    height: 100px;
    width: 90%;
    background-color: #3AB8BB;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 40px;
    margin-top: 20px;
    margin-left: 5%;
    margin-right: 5%;
}