#Content  #Content2Right2 #more{width:25px; height:25px; position:relative; margin-top:14px; margin-left:266px; clear:both}
body{
    margin: 0px;
    padding: 0px;
    padding-bottom: 100px;
    background-color: rgb(238,238,238);
    font-weight: bold;
    font-size: 62.5%;
}
.heade{
    position: absolute;
    background-color: #3AB8BB;
    top: 0;
    text-align: center;
    width: 100%;
    height: 11%;
}
h1{
    position: absolute;

    font-size: 3em;
    color: white;
    text-align: left;
    left: 35%;
}
table{
    position: absolute;
    top: 14em;
    left: 1%;
    width: 98%;
    border-spacing: 0;
    color: rgb(136,136,136);
    text-align: center;
}

td{
    border-bottom:0.5em solid rgb(238,238,238) ;
}
.one{
    height: 1em;
    text-align: left;
    font-size: 2em;
}
.two{
    height: 1em;
    text-align: left;
    font-size: 2em;
}
input{
    height: 3em;
}
.check{
    width: 2em;
    height: 2em;
}
.checkbox{
    font-size: 3em;
    background-color:rgb(255,255,255) ;
}
.l{
    height: 2em;
    width: 40%;
    text-align: left;
}
.r{
    height: 2em;
    width:50%;
    text-align: right;
}
#clothes_details{
    position: absolute;
    top: 22em;
    height: 8%;
    left : 5%;
    width: 90%;
    font-size: 25px;
    background-color: rgb(191,191,191);
}