body{
    margin: 0px;
    padding: 0px;
    background-color: rgb(238,238,238);
}
.heade{
    position: absolute;
    background-color: #3AB8BB;
    text-align: center;
    width: 100%;
    height: 80px;
}
h1{
    color: white;
    text-align: center;
    font-size: 30px;
    width: 100%
}
table{
    position: absolute;
    top: 150px;
    width: 100%;
    border-spacing: 0;
    color: rgb(136,136,136);
    text-align: center;
    border: none;
    margin-bottom:130px;
}

#more{
    /*display: none; */
    width: 99%;
    height: 250px;
    border: none;
}

#clothes_more{
    position: absolute;
    width: 90%;
    left: 5%;
    top:320px;
    height: 50px;
    font-size: 40px;
}